<!doctype html>
<html>
  <head>
    <title>Splicr</title>

    {% include "includes.html" %}

  </head>
  <body>
    {% include "navbar.html" %}

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
      <div id="ytplayer"></div>
      
      <script>
	
        // Keep track of which track we're playing.
        var nowPlaying = 1;
        var lastTrack   = {{album.tracks|length}};

        // Load the IFrame Player API code asynchronously.
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // Replace the 'ytplayer' element with an iframe and
        // YouTube player after the API code downloads.
        var player;
        function onYouTubePlayerAPIReady() {
             player = new YT.Player('ytplayer', {
                 height: '350',
                 width: '640',
                 videoId: '{{ ytid }}',
                 playerVars : {
                     autoplay: 1,
                     showinfo: 0,
                     modestbranding: 1
                 },
                 events: {
                     'onStateChange': onPlayerStateChange
                 }
            });
        }

        // Move to the next track.
        function onPlayerStateChange(event) {
            if (event.data == 0) {
	        if (nowPlaying >= lastTrack) {
	            return False;
	        }
	        else {
	            play(next());
                    //player.loadVideoById('XvDZLjaCJuw');
                }
            }
	}

        function next() {
            return nowPlaying + 1;
	}

	function prev() {
            return nowPlaying - 1;
	}
	
        function play(track) {
	    elt  = $('a[idx=' + track + ']');
            uuid = elt.attr('uuid');
	    ytid = elt.attr('ytid');
            if (!ytid) {
	
               $.ajax({ 'async' : false,
	                'url'   : "/ytid/" + uuid,
	                'type'  : 'GET',
	                'success' :
	                    function(data) {
                                elt.attr('ytid', data);
	                        
	         }});
             }
	     player.loadVideoById(elt.attr('ytid'));
	     nowPlaying = track;
	}

      </script>
      </div>
    </div>
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
      <h2>{{ album.title }}</h2>
      <ol>
        {% for track in album.tracks %}
        <li><a uuid="{{track.uuid}}" ytid="" onclick="play({{loop.index}})" idx="{{loop.index}}" class="track">{{track.title}}</a></li>
        {% endfor %}
      </ol>
      </div>
    </div><!-- row -->
  </body>
</html>
